{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=YourDbName;User Id=sa;Password=YourPasswordHere;TrustServerCertificate=True;Encrypt=False;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Carvery says welcome": {
    "FrontendUri": "http://localhost:3000"
  }
}
